<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ambulance services</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/js/script.js">
</head>
<body>
    <!--header section starts-->
    <header class="header">
        <a href="#" class="logo"><i class="fa-solid fa-briefcase-medical"></i>Health Plus</i></a>
        <br>
        <nav class="navbar">
            <a href="/">home</a>
            <a href="#services">services</a>
            <a href="/about">about</a>
            <a href="/doctors">doctors</a>
            <a href="#book">book</a>
            <a href="#review">review</a>
        </nav>
    
        <div id="menu-btn" class="fas fa-bars"></div>
    
        </header>
        <!--header section ends-->
  
        <!--Heading section starts-->
        <h1 class="heading"><span>AMBULANCE</span>SERVICES</h1>
        
        <!--heading section ends-->

        <!--ambulance-gallery section starts-->

<section class="ambulance-gallery" id="ambulance-gallery">

            <div class="emergency-response-photos">
            
            <img src="/public/css/image/ambulance-pic(1).jpg" alt="" >
            
            </div>
            
            <div class="emergency-response-photos">

            <img src="/public/css/image/ambulance-pic(2).jpg" alt="" >

            </div>

            <div class="emergency-response-photos">

                <img src="/public/css/image/ambulance-pic(3).jpg" alt="" >

            </div>
</section>
 <!--ambulance-gallery section ends-->

 <!--ambulance-info section starts-->

 <section class="info" id="info">
    <div class="emergency">
    <div class="quick-links">
        <a href="/"><i class="fas fa-chevron-right"></i>home</a>
        <a href="#services"><i class="fas fa-chevron-right"></i>services</a>
        <a href="/about"><i class="fas fa-chevron-right"></i>about</a>
        <a href="/doctors"><i class="fas fa-chevron-right"></i>doctors</a>
        <a href="#book"><i class="fas fa-chevron-right"></i>book</a>
        <a href="#review"><i class="fas fa-chevron-right"></i>review</a>
    </div>

<div class="--ambulance-info">
    
<h1>Ambulance services</h1>


<p3>
<h2>Compassionate Care in Every Mile:</h2>
<br>
We understand that emergencies can be stressful and frightening. Our ambulance crews are not 
only skilled in medical care but also highly attuned to the emotional needs of our patients.
They provide compassionate and reassuring support throughout the entire transport process, 
ensuring your comfort and safety.
</p3>

<p4>
<h3>Seamless Coordination for Optimized Care:</h3>
<br>
Our ambulance services are seamlessly integrated with our comprehensive healthcare network.
Our crews are in direct communication with emergency room physicians at our affiliated hospitals,
ensuring a smooth transition and minimizing wait times for critical care.

</p4>

<p5>
    <h4>When to Call Us:</h4>
<br>
    Don't hesitate to call us in any medical emergency. Whether it's a heart attack, stroke, severe 
    allergic reaction, or any other life-threatening situation, our team is here to respond quickly 
    and provide the necessary care.
    
    <br>
    Call us today at +254 398 967  to learn about our emergency services.
</p5>


</div>
</div>
 </section>
 <!--ambulance-info section starts-->

 

















































        <!--footer section starts-->
<section class="footer">
    <div class="box-container">
       <div class="box">
        <h3>quick links</h3>
        <a href = "/"><i class="fas fa-chevron-right"></i>home</a>
        <a href = "#"><i class="fas fa-chevron-right"></i>services</a>
        <a href = "/about"><i class="fas fa-chevron-right"></i>about</a>
        <a href = "#"><i class="fas fa-chevron-right"></i>book</a>
        <a href = "#"><i class="fas fa-chevron-right"></i>review</a>
       </div>
  
       <div class="box">
        <h3>our services</h3>
        <a href = "/checkup"><i class="fas fa-chevron-right"></i>checkup</a>
      <a href = "/ambulance"><i class="fas fa-chevron-right"></i>ambulance</a>
      <a href = "/doctors"><i class="fas fa-chevron-right"></i>doctors</a>
      <a href = "/pharmacy"><i class="fas fa-chevron-right"></i>pharmacy</a>
      <a href = "/inpatient"><i class="fas fa-chevron-right"></i>Inpatient services</a>
      <a href = "/totalcare"><i class="fas fa-chevron-right"></i>total care</a>
       </div>
  
       <div class="box">
        <h3>contact info</h3>
        <a href = "#"><i class="fas fa-phone"></i>+254 745 398967<a>
        <a href = "#"><i class="fas fa-phone"></i>+254 798 923273</a>
        <a href = "#"><i class="fas fa-envelope"></i>victorkinyanjui.macharia@gmail.com</a>
        <a href = "#"><i class="fas fa-chevron-right"></i>programmimgpalace66@gmail.com</a>
        <a href = "#"><i class="fas fa-map-marker-alt"></i>nairobi, Kenya -40100</a>
       </div>
  
       <div class="box">
        <h3>contact info</h3>
        <a href = "#"><i class="fas fa-phone"></i>+254 745 398967<a>
        <a href = "#"><i class="fas fa-phone"></i>+254 798 923273</a>
        <a href = "#"><i class="fas fa-envelope"></i>victorkinyanjui.macharia@gmail.com</a>
        <a href = "#"><i class="fas fa-chevron-right"></i>programmimgpalace66@gmail.com</a>
        <a href = "#"><i class="fas fa-map-marker-alt"></i>nairobi, Kenya -40100</a>
       </div>
  
    </div>
    <div class="credit"> created by<span>Victor Kinyanjui</span> | all rights reserved</div>
  </section>
  
  <!--footer section ends-->

</body>
</html>
