<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Checkup</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/js/script.js">
</head>
<body>
    <!--header section starts-->
    <header class="header">
        <a href="#" class="logo"><i class="fa-solid fa-briefcase-medical"></i>Health Plus</i></a>
        <br>
        <nav class="navbar">
            <a href="/">home</a>
            <a href="#services">services</a>
            <a href="#about">about</a>
            <a href="#doctors">doctors</a>
            <a href="#book">book</a>
            <a href="#review">review</a>
        </nav>
    
        <div id="menu-btn" class="fas fa-bars"></div>
    
        </header>
        <!--header section ends-->
  
        <!--Heading section starts-->
        <h1 class="heading"><span>ABOUT</span> US</h1>
        
        <!--heading section ends-->

        <!--form section starts-->
    <section class="form" id="form">
        <h1 class="heading">REQUEST FOR A<span>CHECKUP</span></h1>

            <div class="container">

 <div class="appointment-info">
 <h4>BOOK YOUR CHECKUP!</h4>
 <h5>Health Plus</h5>
 
 <ul>services</ul>
 
 <li>weight check</li>
 <li>Cholesterol level check</li>
 <li>Blood pressure check</li>
 <li>Blood sugar test</li> 
<li>Throat check</li>
<li>Electrocardiogram</li>
<li>Chest x-ray</li>
</div>
 
 <div class="appointment-form">
    <form method="POST" action="/checkup">
      <label for="name">Name</label>
      <br>
      <input type="text"  name="full_name" placeholder="Full Name" class="input" required> 
    <br>
    <br>
      <label for="name">Email</label>
      <br>
      
      <input type="text" name="email" placeholder="Email" class="input" required> 
    <br>

      <label for="name">Appointment Date</label>
      <br>

      <input type="date"  name= "date" placeholder="Appointment Date" class="input" required> 

<br>
      <label for="name">Message</label>
      <br>
      <input type="text"  name = "message" placeholder="Message" class="message-box" required> 
    <br>
    
    <button type="submit" class="submit">submit</button>
    
    </form>
  </div>
    </section>


        <!--form section starts-->
        
<!--footer section starts-->
<section class="footer">
  <div class="box-container">
     <div class="box">
      <h3>quick links</h3>
      <a href = "/"><i class="fas fa-chevron-right"></i>home</a>
      <a href = "#"><i class="fas fa-chevron-right"></i>services</a>
      <a href = "#"><i class="fas fa-chevron-right"></i>about</a>
      <a href = "#"><i class="fas fa-chevron-right"></i>book</a>
      <a href = "#"><i class="fas fa-chevron-right"></i>review</a>
     </div>

     <div class="box">
      <h3>our services</h3>
      <a href = "/checkup"><i class="fas fa-chevron-right"></i>checkup</a>
      <a href = "/ambulance"><i class="fas fa-chevron-right"></i>ambulance</a>
      <a href = "/doctors"><i class="fas fa-chevron-right"></i>doctors</a>
      <a href = "/pharmacy"><i class="fas fa-chevron-right"></i>pharmacy</a>
      <a href = "/inpatient"><i class="fas fa-chevron-right"></i>Inpatient services</a>
      <a href = "/totalcare"><i class="fas fa-chevron-right"></i>total care</a>
     </div>

     <div class="box">
      <h3>contact info</h3>
      <a href = "#"><i class="fas fa-phone"></i>+254 745 398967<a>
      <a href = "#"><i class="fas fa-phone"></i>+254 798 923273</a>
      <a href = "#"><i class="fas fa-envelope"></i>victorkinyanjui.macharia@gmail.com</a>
      <a href = "#"><i class="fas fa-chevron-right"></i>programmimgpalace66@gmail.com</a>
      <a href = "#"><i class="fas fa-map-marker-alt"></i>nairobi, Kenya -40100</a>
     </div>

     <div class="box">
      <h3>contact info</h3>
      <a href = "#"><i class="fas fa-phone"></i>+254 745 398967<a>
      <a href = "#"><i class="fas fa-phone"></i>+254 798 923273</a>
      <a href = "#"><i class="fas fa-envelope"></i>victorkinyanjui.macharia@gmail.com</a>
      <a href = "#"><i class="fas fa-chevron-right"></i>programmimgpalace66@gmail.com</a>
      <a href = "#"><i class="fas fa-map-marker-alt"></i>nairobi, Kenya -40100</a>
     </div>

  </div>
  <div class="credit"> created by<span>Victor Kinyanjui</span> | all rights reserved</div>
</section>

<!--footer section ends-->
</body>
</html>