<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Plus</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/js/script.js">
    
</head>
<body>
    <!--header section starts-->
    <header class="header">
    <a href="#" class="logo"><i class="fa-solid fa-briefcase-medical"></i>Health Plus</i></a>
    <br>
    <nav class="navbar">
        <a href="/">home</a>
        <a href="#services">services</a>
        <a href="/about">about</a>
        <a href="/doctors">doctors</a>
        <a href="/">book</a>
        <a href="#review">review</a>
    </nav>

     
    <a href="/login" class="submit" id= "login">Login as a doctor</a>
    
    <div id="menu-btn" class="fas fa-bars"></div>

    </header>
    <!--header section ends-->

    <!--home section starts-->
    <section class="home" id="home">
        <div class="overlay-container">
            <img src="/public/css/image/brand-photo.jpg" alt="animation">
            <div class="content">
                <h3>stay safe, stay healthy</h3>
                <p>
                    Welcome to Health Plus, 
                    where compassionate care meets cutting-edge expertise.
                    Our dedicated team of healthcare professionals is committed 
                    to providing personalized and comprehensive medical services.
                </p>
                <a href="#footer" class="btn">Contact us<span><i class="fa-solid fa-chevron-right"></i></span></a>
            </div>
        </div>
    </section>
    
<!--home section ends-->

<!--icons section starts-->
<section class =  "icons-container">

    <div class = "icons">
      <i class="fas fa-user-md"></i>
      <h3>140+</h3>
      <p>doctors at work</p>  
    </div>

    <div class = "icons">
        <i class="fas fa-users"></i>
        <h3>1040+</h3>
        <p>Satisfied patients</p>  
      </div>

    <div class = "icons">
        <i class="fas fa-users"></i>
        <h3>500+</h3>
        <p>bed facility</p>  
      </div>

      <div class = "icons">
        <i class="fas fa-users"></i>
        <h3>140+</h3>
        <p>Available hosplitals</p>  
      </div>
</section>




 <!--icons section ends-->

<!--services section starts-->
<section class="services" id="services"
        >

    <h1 class="heading">OUR<span>SERVICES</span></h1>

<div class="box-container" >
    <div class="box">
      <i class="fas fa-notes-medical"></i>  
      <h3>checkup</h3>
      <p> checkup </p>
      <a href="/checkup" class="btn">learn more<span class="fas fa-chavron-right"></span></a>
    </div>
    
    <div class="box">
        <i class="fas fa-ambulance"></i>  
        <h3>24/7 ambulance</h3>
        <p>we offer quick ambulance services 
        </p>
        <a href="/ambulance" class="btn">learn more<span class="fas fa-chavron-right"></span></a>
      </div>

      <div class="box">
        <i class="fas fa-user-md"></i>  
        <h3>Expert Doctors</h3>
        <p>Qualified doctors at your service</p>
        <a href="/doctors" class="btn">learn more<span class="fas fa-chavron-right"></span></a>
      </div>

      <div class="box">
        <i class="fas fa-pills"></i>  
        <h3>medicines</h3>
        <p>Best Phamaciutical Experience</p>
        <a href="/pharmacy" class="btn">learn more<span class="fas fa-chavron-right"></span></a>
      </div>

      <div class="box">
        <i class="fas fa-procedures"></i>  
        <h3>inpatient services</h3>
        <p> 
       Best Inpatient Services 
        </p>
        <a href="/inpatient" class="btn">learn more<span class="fas fa-chavron-right"></span></a>
      </div>

      <div class="box">
        <i class="fas fa-heartbeat"></i>  
        <h3>Nursing care</h3>
        <p> 
        we offer world class nursing medical care.
        </p>
        <a href="/nurses" class="btn">learn more<span class="fas fa-chavron-right"></span></a>
      </div>


</div>
</section>
<!--services section ends-->


<h1 class = 'heading'>OUR<span>DOCTORS</span></h1>
  
<!--doctor section starts-->

    
<section class="doctors" id = "doctors">
  
  
  <br>
<div class="box-container">
  
      <div class="box">  
    <img src="/public/css/image/doc-1.jpg " alt="">
    <h3>Mary Jane</h3>
    <span>Gynecologist</span>
      </div>
 
      <div class="box">
    <img src="/public/css/image/doc-2.jpg " alt="">
    <h3>James Mwangi</h3>
    <span>Pedetrician</span>
      </div>

      <div class="box">
    <img src="/public/css/image/doc-3.jpg " alt="">
    <h3>Shanice Wangari</h3>
    <span>Cardiologist</span>
      </div>


     <div class="box">
    <img src="/public/css/image/doc-4.jpg " alt="">
  <h3>Antony jinn</h3>
    <span>Radiologist</span>
    </div>

  <div class="box">
    <img src="/public/css/image/doc-5.jpg " alt="">
    <h3>Carol Ann</h3>
    <span>Psychiarist</span>
   </div>


 
  
</div>

</section>


<!--doctor section ends-->

<!--booking section starts-->
<section class="book" id = "book">
 <h1 class = 'heading'>BOOK<span>NOW</span></h1>
<div class="row">

   <div class="image">
      <img src="/public/css/image/booking.jpg" alt="">
   </div>
<div class="book-form">
  
  <form method="POST" action="/book" id="booking-form">
     
    <h3>Book appointments</h3>
    <h3>fill in the form as required</h3>
    <label for="name">Name</label>
<input type="text" placeholder="Name" class="box" name="name" required>

    
    <label for="name">Email</label>
    <input type="email" placeholder="Email" class="box" name="email" required> 
  
    <label for="name" >Number</label>
    <input type="tel" placeholder="Phone number" id="phone_number" class="box"  name="phone_number" required> 
  
    <label for = "age">Age</label>
    <input type="number"  type="age" id = "age"  name="age"  class="box" min="0" placeholder = "age" required  />
    <br>
    <label for="name">Date</label>
    <input type="date" placeholder="Booking date" class="box" name="date" required> 

    <label for="time">Time</label>
    <input type="text" id="time" name="time" class="box"  required style="width: 100%; padding: 5px;" oninput="formatTime(this)" />
<!--
    <input type="checkbox" id="toggle-rescheduled" style="  padding: 2rem; border-radius: .5rem;">
    <label for="toggle-rescheduled" >Reschedule Appointment</label>
    
    <br>
    <label for="date" id="rescheduledDateLabel"> Rescheduled date</label>
<input type="date" id="rescheduled_date" name="rescheduled_date" class="box hidden-input" >

<label for="time" id="rescheduledTimeLabel">Rescheduled Time</label>
<input type="text" id="rescheduled_time" name="time" class="box hidden-input" required style="width: 100%; padding: 5px;" oninput="formatTime(this)">
  -->

    <script>
    function formatTime(input) {
    // Remove any non-numeric characters except colon
    input.value = input.value.replace(/[^\d:]/g, '');
    
    // Ensure the value is in HH:MM format
    if (input.value.length > 2) {
        let hours = parseInt(input.value.substring(0, 2), 10);
        let minutes = parseInt(input.value.substring(3), 10);
        
        // Limit hours to 12 and minutes to 59
        if (hours > 12) {
            hours = 12;
        }
        if (minutes > 59) {
            minutes = 59;
        }
        
        // Update the input value
        input.value = ('0' + hours).slice(-2) + ':' + ('0' + minutes).slice(-2);
        
        // Append AM/PM
        if (input.value.length === 5) {
            let period = ' AM';
            if (hours >= 12) {
                period = ' PM';
            }
            input.value += period;
        }
    }
}

document.getElementById('booking-form').addEventListener('submit', function (event) {
    event.preventDefault(); // Prevent the form from submitting normally

    // Show the notification
    document.getElementById('notification').classList.remove('hidden');

    // Hide the notification after a delay
    setTimeout(function() {
        document.getElementById('notification').classList.add('hidden');
        window.location.reload(); // Reload the page
    }, 3000); // 3 seconds
});

/*
    const toggleRescheduled = document.getElementById('toggle-rescheduled');
    const rescheduledDateLabel = document.getElementById('rescheduledDateLabel');
    const rescheduledTimeLabel = document.getElementById('rescheduledTimeLabel');
    const rescheduledDateInput = document.getElementById('rescheduled_date');
    const rescheduledTimeInput = document.getElementById('rescheduled_time');

    toggleRescheduled.addEventListener('change', function () {
        if (toggleRescheduled.checked) {
            rescheduledDateLabel.style.display = 'block';
            rescheduledTimeLabel.style.display = 'block';
            rescheduledDateInput.style.display = 'block';
            rescheduledTimeInput.style.display = 'block';
        } else {
            rescheduledDateLabel.style.display = 'none';
            rescheduledTimeLabel.style.display = 'none';
            rescheduledDateInput.style.display = 'none';
            rescheduledTimeInput.style.display = 'none';
        }
    });
*/
    
    </script>
    <br>
    <br>
    <label for="name">Message</label>
      <br>
      <input type="text" placeholder="Message" class="message-box" name="message" required> 
    <br>
  
  <input type = "submit" value = "Book now" class="btn"> 
   
   
  <a href="/cancel" class="btn" id= "login">Cancel</a>
  
  </form>

  <div id="notification" class="hidden">Booking successful!</div>

</div>

</div>
</section>
<!--booking section ends-->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const phone_number = document.getElementById('phone_number');
    if (phone_number) {
        phone_number.addEventListener('input', function () {
            let cleanedValue = this.value.replace(/\D/g, ''); // Remove non-numeric characters
            cleanedValue = cleanedValue.slice(0, 10); // Limit to 10 digits
            this.value = cleanedValue;

            if (cleanedValue.length === 10) {
                // Phone number has 10 digits
                this.setCustomValidity('');
            } else {
                // Phone number does not have 10 digits
                this.setCustomValidity('Phone number must have 10 digits');
            }
        });
    }
});
</script>
<!--review section starts -->

<section class="review" id="review">
  <h1 class="heading">CLIENTS <span>REVIEW</span></h1>
  <div class="box-container">

      <div class="box">
          <img src="/public/css/image/pic-1.jpg" alt="">
          <h3>Angela</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <p class="text">
                  Exceptional service! The hospital app made scheduling appointments a breeze.
                  The interface is user-friendly,
                  and I appreciated receiving reminders for my appointments. Highly recommended!
              </p>
          </div>
      </div>

      <div class="box">
        <img src="/public/css/image/pic-2.jpg" alt="">
        <h3>Victor</h3>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <p class="text">
                i liked the website's interface however i am dissapointed ny its lagging,it really annoys someone.
                i would recommend that improvement.Try adding more features such as information on the price of medicine 
                and the location of the hospital
            </p>
        </div>
    </div>

    <div class="box">
      <img src="/public/css/image/pic-3.jpg" alt="">
      <h3>Jane</h3>
      <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <p class="text">
              I was highly pleased with the website,especially because i was able to 
              sucessfully book an appointment.Booking a checkp was however stressful ,because I didnt know how I would 
              be reminded of the my check up via email.
          </p>
      </div>
  </div>
 </div> 
</section>
<!--review section ends-->


















<!--footer section starts-->
<section id="footer"class="footer"  >
  <div class="box-container">
     <div class="box">
      <h3>quick links</h3>
      <a href = "/"><i class="fas fa-chevron-right"></i>home</a>
      <a href = "#"><i class="fas fa-chevron-right"></i>services</a>
      <a href = "/about"><i class="fas fa-chevron-right"></i>about</a>
      <a href = "#"><i class="fas fa-chevron-right"></i>book</a>
      <a href = "#"><i class="fas fa-chevron-right"></i>review</a>
     </div>

     <div class="box">
      <h3>our services</h3>
      <a href = "/checkup"><i class="fas fa-chevron-right"></i>checkup</a>
      <a href = "/ambulance"><i class="fas fa-chevron-right"></i>ambulance</a>
      <a href = "/doctors"><i class="fas fa-chevron-right"></i>doctors</a>
      <a href = "/pharmacy"><i class="fas fa-chevron-right"></i>pharmacy</a>
      <a href = "/inpatient"><i class="fas fa-chevron-right"></i>Inpatient services</a>
      <a href = "/totalcare"><i class="fas fa-chevron-right"></i>total care</a>
      
      
      
     </div>

     <div class="box">
      <h3>contact info</h3>
      <a href = "#"><i class="fas fa-phone"></i>+254 745 398967<a>
      <a href = "#"><i class="fas fa-phone"></i>+254 798 923273</a>
      <a href = "#"><i class="fas fa-envelope"></i>victorkinyanjui.macharia@gmail.com</a>
      <a href = "#"><i class="fas fa-chevron-right"></i>programmimgpalace66@gmail.com</a>
      <a href = "#"><i class="fas fa-map-marker-alt"></i>nairobi, Kenya -40100</a>
     </div>

     <div class="box">
      <h3>contact info</h3>
      <a href = "#"><i class="fas fa-phone"></i>+254 745 398967<a>
      <a href = "#"><i class="fas fa-phone"></i>+254 798 923273</a>
      <a href = "#"><i class="fas fa-envelope"></i>victorkinyanjui.macharia@gmail.com</a>
      <a href = "#"><i class="fas fa-chevron-right"></i>programmimgpalace66@gmail.com</a>
      <a href = "#"><i class="fas fa-map-marker-alt"></i>nairobi, Kenya -40100</a>
     </div>

  </div>
  <div class="credit"> <span>created by Victor Kinyanjui</span> | all rights reserved</div>
</section>

<!--footer section ends-->






















</body>
</html>