<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Checkup</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/js/script.js">
</head>
<body>
    <!--header section starts-->
    <header class="header">
        <a href="#" class="logo"><i class="fa-solid fa-briefcase-medical"></i>Health Plus</i></a>
        <br>
        <nav class="navbar">
            <a href="/">home</a>
            <a href="#services">services</a>
            <a href="#about">about</a>
            <a href="/doctors">doctors</a>
            <a href="#book">book</a>
            <a href="#review">review</a>
        </nav>
    
        <div id="menu-btn" class="fas fa-bars"></div>
    
        </header>
        <!--header section ends-->
  
        <!--Heading section starts-->
        <h1 class="heading"><span>ABOUT</span> US</h1>
        
        <!--heading section ends-->
        <section class="pharmacy" id="pharmacy">
<div class="pharmacy-section">

            <div class= "pharmacy_hero_image">
            <img src="/public/css/image/phamacy_hero_image.jpg" alt="" >
            </div> 
            
          
            <div class="--pharmacy-info">
    
                <h1>Ambulance services</h1>
                
                
                <p3>
                <h2>Best pharmaciutical experience:</h2>
                <br>
                We dedicate our selves to offering high quality medicine in ordet to promote a healthy nation.
                We prioritize sourcing the highest quality medicines to ensure the well-being of our community.
                 Our dedicated team of professionals is committed to providing personalized care and expert advice, 
                 ensuring that every customer receives the best possible service. With a focus on innovation
                  and technology, we strive to make accessing healthcare easier and more convenient.
                 Join us in our mission to promote health and wellness, one customer at a time.
                </p3>
                
                <p4>
                <h3>Trustworthy distributors:</h3>
                <br>
                Our hospital is dedicated to supply high quality medicine and is regulated by Kenya Poisons Board.Medicines 
                are standardised by the Kenya Bureue of Standards which ensure that only the right medicine is offered.
                
                </p4>
                
                <p5>
                    <h4>When to Call Us:</h4>
                <br>
                    Don't hesitate to inform our hospital incase you need not just medicine but pure life.We are dedicated to supply various 
                    forms of medicine and thus promoting a healthy nation.
                    
                    <br>
                    Call us today at +254 398 967  to learn about our pharmaciutical services.
                </p5>
                
                
                </div>
        </div>
            </section>
 



























































        <!--footer section starts-->
<section class="footer">
    <div class="box-container">
       <div class="box">
        <h3>quick links</h3>
        <a href = "/"><i class="fas fa-chevron-right"></i>home</a>
        <a href = "#"><i class="fas fa-chevron-right"></i>services</a>
        <a href = "#"><i class="fas fa-chevron-right"></i>about</a>
        <a href = "#"><i class="fas fa-chevron-right"></i>book</a>
        <a href = "#"><i class="fas fa-chevron-right"></i>review</a>
       </div>
  
       <div class="box">
        <h3>our services</h3>
        <a href = "/checkup"><i class="fas fa-chevron-right"></i>checkup</a>
      <a href = "/ambulance"><i class="fas fa-chevron-right"></i>ambulance</a>
      <a href = "/doctors"><i class="fas fa-chevron-right"></i>doctors</a>
      <a href = "/pharmacy"><i class="fas fa-chevron-right"></i>pharmacy</a>
      <a href = "/inpatient"><i class="fas fa-chevron-right"></i>Inpatient services</a>
      <a href = "/totalcare"><i class="fas fa-chevron-right"></i>total care</a>
       </div>
  
       <div class="box">
        <h3>contact info</h3>
        <a href = "#"><i class="fas fa-phone"></i>+254 745 398967<a>
        <a href = "#"><i class="fas fa-phone"></i>+254 798 923273</a>
        <a href = "#"><i class="fas fa-envelope"></i>victorkinyanjui.macharia@gmail.com</a>
        <a href = "#"><i class="fas fa-chevron-right"></i>programmimgpalace66@gmail.com</a>
        <a href = "#"><i class="fas fa-map-marker-alt"></i>nairobi, Kenya -40100</a>
       </div>
  
       <div class="box">
        <h3>contact info</h3>
        <a href = "#"><i class="fas fa-phone"></i>+254 745 398967<a>
        <a href = "#"><i class="fas fa-phone"></i>+254 798 923273</a>
        <a href = "#"><i class="fas fa-envelope"></i>victorkinyanjui.macharia@gmail.com</a>
        <a href = "#"><i class="fas fa-chevron-right"></i>programmimgpalace66@gmail.com</a>
        <a href = "#"><i class="fas fa-map-marker-alt"></i>nairobi, Kenya -40100</a>
       </div>
  
    </div>
    <div class="credit"> created by<span>Victor Kinyanjui</span> | all rights reserved</div>
  </section>
  
  <!--footer section ends-->

</body>
</html>