<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Doctors </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/js/script.js">
</head>
<body>
    <!--header section starts-->
    <header class="header">
        <a href="#" class="logo"><i class="fa-solid fa-briefcase-medical"></i>Health Plus</i></a>
        <br>
        <nav class="navbar">
            <a href="/">home</a>
            <a href="#services">services</a>
            <a href="#about">about</a>
            <a href="/doctors">doctors</a>
            <a href="#book">book</a>
            <a href="#review">review</a>
        </nav>
    
        <div id="menu-btn" class="fas fa-bars"></div>
    
        </header>
        <!--header section ends-->
  
        <!--Heading section starts-->

        <h1 class="heading"><span>LOG</span> IN</h1>

        <!--heading section ends-->

         <!--Register section starts-->
        <section class="register" id="register">
            <h1 class="heading"><span>REGISTER  </span> </h1>
            <p1>The following blank spaces are to be filled by authorized medical personelle.
    
            </p1>
                <div class="register-form">

                    <form action="/register" method="POST">
                        <label for="name">Name:</label>

                        <input type="text" id="name" name="name"placeholder="Name" required><br>

                        <label for="email">Email:</label>

                        <input type="email" id="email" name="email"placeholder="Email"required><br>

                        <label for="phone_number">Phone number:</label>

                        <input type="tel" id="phone_number" name="phone_number"placeholder="phone number"required>

                        <br>

                        <label for="password">Password:</label>

                        <input type="password" id="password" name="password"placeholder="Password"required><br>

                        
                        
                        <br>
                        <input type = "submit" value = "Register" class="signup-btn">
                        <p> Already a  Doctor?</p>  
            <a href="/login" class="signup-link">Login</a>
                    </form>
                </div>
                
        


        </section>
        <script>
        document.addEventListener('DOMContentLoaded', function() {
    const phone_number = document.getElementById('phone_number');
    if (phone_number) {
        phone_number.addEventListener('input', function() {
            // Remove all non-numeric characters
            let sanitized_value = this.value.replace(/[^0-9]/g, '');
            // Limit to 10 digits
            sanitized_value = sanitized_value.slice(0, 10);
            // Update the input value
            this.value = sanitized_value;
        });
    }
});


                    </script>
 <!--Register section ends -->




















































        <!--footer section starts-->
<section class="footer">
    <div class="box-container">
       <div class="box">
        <h3>quick links</h3>
        <a href = "/"><i class="fas fa-chevron-right"></i>home</a>
        <a href = "#"><i class="fas fa-chevron-right"></i>services</a>
        <a href = "#"><i class="fas fa-chevron-right"></i>about</a>
        <a href = "#"><i class="fas fa-chevron-right"></i>book</a>
        <a href = "#"><i class="fas fa-chevron-right"></i>review</a>
       </div>
  
       <div class="box">
        <h3>our services</h3>
        <a href = "/checkup"><i class="fas fa-chevron-right"></i>checkup</a>
      <a href = "/ambulance"><i class="fas fa-chevron-right"></i>ambulance</a>
      <a href = "/doctors"><i class="fas fa-chevron-right"></i>doctors</a>
      <a href = "/pharmacy"><i class="fas fa-chevron-right"></i>pharmacy</a>
      <a href = "/inpatient"><i class="fas fa-chevron-right"></i>Inpatient services</a>
      <a href = "/totalcare"><i class="fas fa-chevron-right"></i>total care</a>
       </div>
  
       <div class="box">
        <h3>contact info</h3>
        <a href = "#"><i class="fas fa-phone"></i>+254 745 398967<a>
        <a href = "#"><i class="fas fa-phone"></i>+254 798 923273</a>
        <a href = "#"><i class="fas fa-envelope"></i>victorkinyanjui.macharia@gmail.com</a>
        <a href = "#"><i class="fas fa-chevron-right"></i>programmimgpalace66@gmail.com</a>
        <a href = "#"><i class="fas fa-map-marker-alt"></i>nairobi, Kenya -40100</a>
       </div>
  
       <div class="box">
        <h3>contact info</h3>
        <a href = "#"><i class="fas fa-phone"></i>+254 745 398967<a>
        <a href = "#"><i class="fas fa-phone"></i>+254 798 923273</a>
        <a href = "#"><i class="fas fa-envelope"></i>victorkinyanjui.macharia@gmail.com</a>
        <a href = "#"><i class="fas fa-chevron-right"></i>programmimgpalace66@gmail.com</a>
        <a href = "#"><i class="fas fa-map-marker-alt"></i>nairobi, Kenya -40100</a>
       </div>
  
    </div>
    <div class="credit"> created by<span>Victor Kinyanjui</span> | all rights reserved</div>
  </section>
  
  <!--footer section ends-->

</body>
</html>